[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
envparse = "*"
pytest = "*"
pytest-aiohttp = "*"
uvloop = "*"
sentry-sdk = "==0.7.9"
aio-pika = "*"
jsonschema = "*"
Sphinx = "*"
aiohttp-swagger = "*"
trood-sdk = {git = "https://07de0218088728b42ee60f155c71990f1dc6a717:x-oauth-basic@github.com/Q-CIS-DEV/trood-sdk.git"}

[dev-packages]
isort = "*"
pylint = "*"
"flake8" = "*"
