[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
envparse = "*"
pytest = "*"
pytest-aiohttp = "*"
uvloop = "*"
sentry-sdk = "==0.7.9"
aio-pika = "*"
jsonschema = "*"
Sphinx = "*"
aiohttp-swagger = "*"
trood = "==1.0.0"

[dev-packages]
isort = "*"
pylint = "*"
"flake8" = "*"
